.has-search .form-control {
    padding-left: 45%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    line-height: 2.375rem;
    padding-left: 39%;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.option {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    background-color: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 40px;
}

.font {
    font-family: Arial, sans-serif;
    color: rgb(156, 156, 156);
}

.font2 {
    font-family: Arial, sans-serif;
    color: rgb(133, 133, 133);
}

.vr {
    border-right: 1px solid rgb(224, 224, 224);
}

.red-input {
    margin-top: 30%;
    width: 85%;
    text-align: center;
    font-size: 70%;
    height: 50%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2% auto;
    position: relative;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}